In [1]:
#type(variable_name)
x = 10     
print(type(x))
print(x)

<class 'int'>
10

In [2]:
a = input("Enter number:")
int(a)
print(type(a))

Enter number:10
<class 'str'>

In [3]:

a = input("Enter number:")
a = int(a)
print(type(a))

Enter number:10
<class 'int'>

In [4]:
a = int(input("Enter no:"))
print(a)
print(type(a))

Enter no:10
10
<class 'int'>

In [6]:
#built in functions!!
#https://www.w3schools.com/python/python_ref_functions.asp

In [7]:
#intro, basic data type,strings

In [8]:
#output - print

In [9]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [10]:
#concatenate!!
print("hello"+"world")

helloworld

In [11]:
print("hello")
print("world")

hello
world

In [12]:
#if we want it in the same line!!
print("hello", end=' ')
print("world")

hello world

In [13]:
print("hello","world")

hello world

In [17]:
print("hello","world", sep="ishika")

helloishikaworld

In [18]:
"ishika"+"kesarwani"

'ishikakesarwani'

In [19]:
"ishika"+" "+"kesarwani"

'ishika kesarwani'

In [20]:
"ishika"+ str("24")

'ishika24'

In [21]:
age= 21
name = 'ishika'

In [22]:

# Approach 1
print('my age is '+ str(age))

my age is 21

In [23]:
# Approach 2
print('my age is',age,'and my name is',name)

my age is 21 and my name is ishika

In [24]:
# Approach 3: using f-string
print(f'my age is {age} and my name is {name}')

my age is 21 and my name is ishika

In [25]:
age = 10
name = "Ram"
print("hello", name,"your age is",age)

hello Ram your age is 10

In [31]:
age = str(age)
name = "Ram"
print("hello"+ name+"your age is"+age)

helloRamyour age is10

In [32]:
for i in range(10):
    print(i, end= ' ')

0 1 2 3 4 5 6 7 8 9

In [33]:
for i in range(10):
    print(i, end= '*')

0*1*2*3*4*5*6*7*8*9*

In [34]:
# Using join method:
print(' '.join(["Joe is", 42, "years old"]))

TypeError: sequence item 1: expected str instance, int found

In [35]:
#so alt is
# Itâ€™s safer to just unpack the sequence with the star operator (*) and let print() handle type casting:
print(*[10, 20, 30], sep= '-')
print(*[10, 20, 30], sep= ' ')

10-20-30
10 20 30

In [38]:
# When two non-Boolean values are joined by 'and' or 'or', the value of the expression is one of the 
# operands, not True or False.

a=100
b=200
a or b

100

In [39]:
a and b

200

In [40]:
x = 0.1 + 0.2
print(x)

0.30000000000000004

In [42]:
x == 0.3
#if equal to?

False

In [43]:
# Solution: Use decimal class when we want to carry out decimal calculations as we learned in school.

from decimal import Decimal as D

print(D('0.1') + D('0.2'))

0.3

In [44]:
threshold = 0.00001
x = 1.1 + 2.2
#floating point notation
print(x)
print(x - 3.3)
#abs changes neg to pos!!
abs(x - 3.3) < threshold

3.3000000000000003
4.440892098500626e-16

True

In [45]:
#string
#do notice the formats, f s d
val = 'Hi'
name = 'Joseph'

print("%s, my name is %s." % (val,name)) 

n = 50
print("The number is: %d and %f" % (n, 120.20))

Hi, my name is Joseph.
The number is: 50 and 120.200000

In [46]:
#format method
# using format() method
print('I am a {}'.format('Programmer'))
print('The number is {}'.format(n))

I am a Programmer
The number is 50

In [47]:
# using format() method and refering to a position of the object
print('{0} and {1}'.format('Hello', 'World'))
print('{1} and {0}'.format('Hello', 'World'))

Hello and World
World and Hello

In [48]:
#format+string
# the above formatting can also be done by using f-Strings. Works only with python 3.6 or above.
print(f"{val}, my name is {name}.")

Hi, my name is Joseph.